@use "../vars/colors" as *;

$themes: (
  blue-theme:  $blue,
  orange-theme:  $orange,
  green-theme:  $green,
  red-theme:  $red,
);

@each $theme, $color in $themes {
  .#{$theme} {
    .content .page-head .page-title {
      color: $color;
    }
    .header .usermenu-container .dropdown-menu .activites li span {
      color: $color;
    }
  }
}