.settings-box.hide-settings
  span.toggle-settings: i.fa-solid.fa-gear.fa-lg.icon
  .settings-content.text-center
    h3.settings-header Settinigs
    .settings-container
      .option-box.color-options
        h4.option-title Color Options
        - let themes = ["blue-theme", "red-theme", "orange-theme", "green-theme"];
        ul.list-unstyled
          - var firstLi = 1;
          each theme, index in themes
            if index == 0
              li.active(data-color=theme)
            else
              li(data-color=theme)
      .option-box
        h4.option-title Font Options
      .option-box
        h4.option-title Sidebar Options