.sidebar
  .logo.text-center Sohaib
  ul.links.list-unstyled
    li: a(href="#") Home
    li
      a.toggle-sub-links(href="#")
        | Forms
        i.fa-solid.fa-caret-right.icon
      ul.sub-links.list-unstyled
        li: a(href="#") Input
        li: a(href="#") Textarea
        li: a(href="#") Checkbox
        li: a(href="#") Radio
    li
      a.toggle-sub-links(href="#")
        | Misc
        i.fa-solid.fa-caret-right.icon
      ul.sub-links.list-unstyled
        li: a(href="#") Loading
        li: a(href="#") Breadcrumbs