body {
  font-family: 'Cairo', sans-serif;
  &.cairo {
    font-family: 'Cairo', sans-serif;
  }
  &.roboto {
    font-family: 'Roboto', sans-serif;
  }
  &.open-sans {
    font-family: 'Open Sans', sans-serif;
  }
  &.splash {
    font-family: 'Splash', cursive;
  }
}

.page {
  min-height: 100vh;
  .page-content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: 0.3s;
    will-change: width;
    float: right;
    background-color: #f0f1f3;
    &.no-sidebar {
      width: 100%;
    }
  }
}