@use "../vars/colors" as *;
%headerIcon {
  cursor: pointer;
  color: $darkColor;
  padding: 10px;
}
.header {
  background-color: #FFF;
  padding: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  .toggler {
    @extend %headerIcon;
  }
  .notifications-container {
    display: inline-block;
    .notify-icon {
      @extend %headerIcon;
    }
    .dropdown-menu {
      min-width: 600px;
      border: none;
      padding: 0;
      top:50px;
      &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 9px;
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent $darkColor  transparent;
      }
      .notifiy-header {
        background-color: $darkColor;
        padding: 15px;
        color: #FFF;
        border-radius: 0.25rem 0.25rem 0 0;
        span {
          float: right;
        }
      }
      .notifiy-content {
        padding: 20px 10px;
        max-height: 500px;
        overflow-y: scroll;
        ul {
          margin: 0;
          li {
            padding: 10px;
            display: flex;
            align-items: center;
            i, svg {
              background-color: #EEE;
              padding: 10px;
              margin-right: 15px;
              border-radius: 50%;
              &.mail {
                color: #BB001B;
              }
              &.like {
                color: #0084ff;
              }
              &.wallet {
                color: #118C4F;
              }
              &.comment {
                color: #0084ff;
              }
              &.love {
                color: #eb3434;
              }
            }
          }
        }
      }
      .notifiy-footer {
        a {
          display: block;
          padding: 10px;
          border-top: 1px solid #EEE;
        }
      }
    }
  }
  .maxmize {
    @extend %headerIcon;
  }
  .usermenu-container {
    margin-left: auto;
    .user-profile {
      cursor: pointer;
      margin-right: 20px;
      .avatar {
        width: 40px;
        height: 40px;
      }
      .username {
        font-weight: bold;
        color: $darkColor;
        margin-right: 10px;
        margin-left: 10px;
      }
    }
    .dropdown-menu {
      min-width: 600px;
      padding: 20px;
      top:50px;
      border: 1px solid $darkColor;
      color: $darkColor;
      &::before {
        content: "";
        position: absolute;
        top: -20px;
        right: 16px;
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent $darkColor  transparent;
      }
      .user-info {
        h3 {
          font-weight: bold;
        }
        p {
          color: $textColor
        }
      }
      .activites {
        li {
          padding: 10px;
          span {
            color: $blue;
          }
        }
      }
      .profile-links {  
        .link-box {
          border: 1px solid $darkColor;
          padding: 10px;
          border-radius: 6px;
          display: flex !important;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          transition: 0.3s;
          gap: 5px;
          color: $darkColor;
          .settings {
            color: $blue;
          }
          .profile {
            color: $green;
          }
          .logout {
            color: #eb3434;
          }
        }
      }
    }
  }
}